:root {
    --main-color: hwb(28 13% 10%);
    --dark-color: #130f40;
}
section {
    overflow: hidden;
}

.icon {
    color: var(--main-color);
}

nav a {
    display: inline-block !important;
    color: #000 !important;
}
nav a.active {
    color: var(--main-color) !important ;
}
.box {
    background-color: #eee !important;
}

.cart .dropdown-toggle::after {
    display: none !important;
}

.cart .dropdown-menu {
    width: 350px;
}
.profile .dropdown-menu {
    min-width: 210px;
}
@media (max-width: 576px) {
    .cart .dropdown-menu {
        width: 101vw;
    }
    .cart .dropdown-menu {
        right: -85px !important ;
    }
}
.cart .dropdown-menu .img {
    width: 60px;
}

.cartIcon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    top: 0;
    right: 0;
    z-index: 1;
}

.delete-icon {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
}

.text-main {
    color: var(--main-color) !important ;
}
.bg-main {
    background-color: var(--main-color) !important ;
}

.pagination .page-item > .page-link {
    background-color: white !important;
    color: var(--dark-color) !important;
}
.pagination .page-item > .page-link {
    background-color: white !important;
    color: var(--dark-color) !important;
}
.pagination .page-item.active > .page-link {
    background-color: var(--main-color) !important;
    color: white !important;
}

.pagination .page-item.active:first-child > .page-link,
.pagination .page-item.active:last-child > .page-link {
    background-color: white !important;
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    /* 0 0 0 0.25rem rgba(13, 110, 253, 0.25); */
}

.pagination .page-item:first-child > .page-link:focus,
.pagination .page-item:last-child > .page-link:focus {
    box-shadow: 0 0 0 0.25rem hwb(28 13% 10% / 0.526);
}

.pagination .page-item > .page-link span {
    color: inherit !important;
}

.form-floating > input:disabled ~ label::after {
    background-color: inherit;
    display: none;
}
